{% extends 'layout.html' %} {% block content %}
{% load static %}

<h2>Add Book </h2>
<form class="form" action="/add-book" method="POST">
    {% csrf_token %}
  <div class="form-group">
    <label class="control-label col-sm-2" for="date">Name:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="date" placeholder="Enter Name" name="name">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="date">Author:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="date" placeholder="Enter Author" name="author">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="date">Publisher:</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="date" placeholder="Enter Publisher" name="publisher">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="date">Year</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="date" placeholder="yyyy" name="year">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="date">Book Type</label>
    <div class="col-sm-4">
        <select name="book_type" id="">
            <option value="donate">Donate</option>
            <option value="purchase">purchase</option>
        </select>
    </div>
  </div>
  <div class="form-group">        
    <div class="col-sm-offset-2 col-sm-4">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>
{% endblock %}