

</body>
</html>
<!doctype html>
<html lang="en">
  <head>
  {% load static %}

  	<title>Online Book Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	        </button>
        </div>
	  		<div class="img bg-wrap text-center py-4" style="background-image: url('/static/img/bg.jpg');">
	  			<div class="user-logo">
	  				<div class="img" style="background-image: url('/static/images/logo.jpg');"></div>
	  				<h3>Online Book Store</h3>
	  			</div>
	  		</div>
        {% with request.resolver_match.url_name as url_name %}
        <ul class="list-unstyled components mb-5">
          <li class="{% if url_name == 'index' %} active {% endif %}">
            <a href="/"><span class="fa fa-home mr-3"></span> Home</a>
          </li>
          <li class="{% if url_name == 'addbook' %} active {% endif %}"> 
              <a href="/add-book"><span class="fa fa-download mr-3 notif"></span> Add Book</a>
          </li>
          <li class="{% if url_name == 'mybook' %} active {% endif %}">
            <a href="/my-book"><span class="fa fa-gift mr-3"></span>My Loan booking</a>
          </li>
          <li class="{% if url_name == 'addbooklist' %} active {% endif %}">
            <a href="/my-book-list"><span class="fa fa-trophy mr-3"></span> My Book</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-cog mr-3"></span> Settings</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-support mr-3"></span> Support</a>
          </li>
          <li>
            <a href="/logout"><span class="fa fa-sign-out mr-3"></span> Log Out</a>
          </li>
        </ul>
        {% endwith %}

    	</nav>

      <div id="content" class="p-4 p-md-5 pt-5">
        {% block content %} 

        {% endblock %}
		</div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>